@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: white;
    color: white;
}

@keyframes bounce-slow {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .animate-bounce-slow {
    animation-name: bounce-slow;
    animation-duration: 2s; /* Ajusta el valor para controlar la velocidad */
  }
  
  .animate-spin {
    animation: spin 2s linear infinite; /* Ajusta el valor de duration según lo deseado */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Estilo para el gradiente de color */
  .gradient-text {
    background-image: linear-gradient(45deg, #ff8c00, #0000ff, #00ffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  

  .fondo{
    width: 100%;
    height: 91vh;
    background-image: url('../public/studio.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;

    }

    .cart-button input:checked ~ .cart-div {
      width: 100%;
      display: flex;
    }
    
    .cart-button input:checked ~ .cart {
      display: flex;
    }

    /* Estilos para los días marcados */
.marked-date {
  background-color: red; /* Cambia el fondo a rojo para los días marcados */
  border-radius: 50%; /* Opcional: Redondea los bordes para un aspecto más suave */
}

  