<%- include('partials/_header') %>

<div class="container mt-5">
    <div class="row pt-5">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <div class="bs-component pt-5 pb-4">
                <form action="/add", method="post">
                    <fieldset>
                        <legend>Registro</legend>
                        <!-- Mostrar mensajes de error -->
                        <% if (messages.error && messages.error.length > 0) { %>
                            <div class="alert alert-danger">
                                <% for (let error of messages.error) { %>
                                    <p><%= error %></p>
                                <% } %>
                            </div>
                        <% } %>

                        <div class="form-group">
                            <label for="nombre" class="form-label mt-4">Nombre Completo</label>
                            <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Introduce tu nombre" data-cip-id="exampleInputEmail1">
                        </div>

                        <div class="form-group">
                            <label for="email" class="form-label mt-4">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Introduce tu correo electrónico" data-cip-id="exampleInputEmail1">
                        </div>

                        <div class="form-group">
                            <label for="direccion" class="form-label mt-4">Direccion de Domicilio</label>
                            <input type="text" name="direccion" class="form-control" id="direccion" placeholder="Introduce tu dirección" data-cip-id="exampleInputEmail1">
                        </div>

                        <div class="form-group mt-4">
                            <label for="contraseña" class="form-label mt-4">Contraseña</label>
                            <input type="password" name="contraseña" class="form-control" id="contraseña" placeholder="Introduce tu contraseña" data-cip-id="exampleInputEmail1">
                        </div>

                        <div class="form-group">
                            <label for="contraseña2" class="form-label mt-4">Confirma contraseña</label>
                            <input type="password" name="contraseña2" class="form-control" id="contraseña2" placeholder="Repite la contraseña" data-cip-id="exampleInputEmail1">
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary mt-5">Registrate!</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>
